@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);


html,
body{
  height: 100%;
}

a, a:hover, a:focus, button {
  outline: none;
  text-decoration: none;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrapper{
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 400%;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #4A89DC;
  margin: 0;
  color: #fff;
  display: table;
  position: relative;
  -webkit-transition:all 0.2s;
  transition:all 0.2s;
}
::selection {
  background: #4584d7;
}
::-moz-selection {
  background: #4584d7;
}
.wrapper h1{
  display: table-cell;
  vertical-align: middle;
  outline: 0px solid transparent; 
}
.corner-icon{
  position: fixed;
  display: block;
  width: 30px;
  height: 30px;
}
#bigger{
  top: 20px;
  right: 20px; 
}
#bigger::after {
  position: absolute;
  top: 0;
  right: 8px;
  width: 8px;
  height: 24px;
  content: "";
  background: #fff;
}
#bigger::before {
  position: absolute;
  top: 8px;
  right: 0px;
  width: 24px;
  height: 8px;
  content: "";
  background: #fff;
}
#smaller{
  width: 15px;
  height: 15px;
  top: 24px;
  right: 60px;
}
.corner-icon:hover, .corner-color-picker:hover{
  -webkit-transition:all 0.2s;
  transition:all 0.2s;
}
.corner-icon:hover, .corner-color-picker:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}
#smaller::before {
  position: absolute;
  top: 5px;
  right: 0px;
  width: 15px;
  height: 5px;
  content: "";
  background: #fff;
}

.corner-color-picker{
  position: fixed;
  display: block;
  width: 150px;
  height: 150px;
  background: #fff;
  border-radius:50%;
  bottom: -75px;
}
.corner-color-picker.left{
  left: -75px;
}
.corner-color-picker.right{
  right: -75px;
}
.corner-color-picker .current-color{
  display: block;
  margin:15px;
  width: 120px;
  height: 120px;
  border-radius:50%;
}
.color-picker-hue,
.color-picker-sat,
.color-picker-lig{
  display: block;
  position: fixed;
  bottom: 0;
  width:130px;
  height: 130px; 
  overflow: hidden;
}
.color-picker-hue{
  width:100px;
  height: 100px;
}
.color-picker-sat{
  width:130px;
  height: 130px;
}
.color-picker-lig{
  width:160px;
  height: 160px;
}

.color-picker-hue.left, 
.color-picker-sat.left,
.color-picker-lig.left{
  left:0;
}
.color-picker-hue.left,
.color-picker-hue.left canvas,
.color-picker-hue.right canvas{
  border-top-right-radius: 100px;
}
.color-picker-sat.left,
.color-picker-sat.left canvas,
.color-picker-sat.right canvas{
  border-top-right-radius: 130px;
}
.color-picker-lig.left,
.color-picker-lig.left canvas,
.color-picker-lig.right canvas{
  border-top-right-radius: 160px;
}
.color-picker-hue.right{
  border-top-left-radius: 100px;
}
.color-picker-sat.right{
  border-top-left-radius: 130px;
}
.color-picker-lig.right{
  border-top-left-radius: 160px;
}
.color-picker-hue.right, 
.color-picker-sat.right,
.color-picker-lig.right{
  right:0;
}
.color-picker-hue.right{
  border-top-left-radius: 100px;
}

#background-current-color{
  background: #4a89dc;
}
#text-current-color{
  background: #fff;
}

.flipH{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
